<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo List MySQL Version</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/journal/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-dark bg-primary justify-content-between">
      <a class="navbar-brand" href="/">Todo List</a>
      {{#if isAuthenticated}}
      <article class="text-light" id="welcome-word">歡迎回來，{{{userName}}}！準備好迎接下一份挑戰了嗎？</article>

      <a href="/users/logout" class="btn btn-outline-light">Logout</a>
      {{else}}
      <a href="/users/login" class="btn btn-outline-light">Login</a>
      {{/if}}
    </nav>
  </header>

  <main>
    <div class="container mt-3">
      {{{body}}}

    </div>

  </main>
  <footer>
    <div class="footer-content bg-primary">
      <span id="footer-text"></span>
    </div>
  </footer>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script src="/javascripts/footerContent.js"></script>


</body>

</html>